* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  font-family: Arial;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-bottom: 16px;
}

nav {
  width: 100%;
  height: 80px;
  background-color: #6f4e37;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
nav a {
  color: white;
  text-decoration: none;
  font-size: 20px;
}

.homePage {
  margin: 0 auto;
  width: 90%;
  min-height: 500px;
}
.homePage .hero {
  width: 100%;
  height: 350px;
  color: white;
  font-size: 50px;
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.4)), url(../images/home.jpg);
  background-position: center;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
}
.homePage .homeText {
  width: 100%;
}
.homePage .homeText h1 {
  text-align: center;
  margin-top: 50px;
  font-size: 45px;
  color: #6f4e37;
}
.homePage .homeText .homeBox {
  margin: 0 auto;
  width: 90%;
  height: 300px;
  margin-top: 25px;
  display: flex;
}
.homePage .homeText .homeBox .boxPic {
  width: 30%;
  height: 100%;
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url(../images/home2.jpg);
  background-position: center;
  background-size: cover;
}
.homePage .homeText .homeBox .boxText {
  width: 55%;
  font-size: 20px;
  margin-left: 25px;
  margin-top: 80px;
}

.menuPage {
  margin: 0 auto;
  width: 90%;
  min-height: 500px;
}
.menuPage .hero {
  width: 100%;
  height: 350px;
  color: white;
  font-size: 50px;
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.4)), url(../images/menu.jpeg);
  background-position: center;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
}

.menuText {
  width: 100%;
}
.menuText h1 {
  text-align: center;
  margin-top: 50px;
  font-size: 45px;
  color: #6f4e37;
}
.menuText h2 {
  text-align: center;
  margin-top: 30px;
  color: #6f4e37;
}
.menuText .menuBox {
  display: flex;
  font-size: 20px;
  text-align: center;
  margin-top: 50px;
}
.menuText .menuBox .drinks {
  width: 50%;
}
.menuText .treats {
  width: 50%;
}

.aboutPage {
  margin: 0 auto;
  width: 90%;
  min-height: 500px;
}
.aboutPage .hero {
  width: 100%;
  height: 350px;
  color: white;
  font-size: 50px;
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.4)), url(../images/aboutHero.jpg);
  background-position: center;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
}
.aboutPage .aboutText h1 {
  text-align: center;
  margin-top: 50px;
  font-size: 45px;
  color: #6f4e37;
}
.aboutPage .aboutText .aboutBox {
  margin: 0 auto;
  width: 90%;
  height: 300px;
  margin-top: 25px;
  display: flex;
}
.aboutPage .aboutText .aboutBox .boxPic {
  width: 30%;
  height: 100%;
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url(../images/about.jpeg);
  background-position: center;
  background-size: cover;
}
.aboutPage .aboutText .aboutBox .picTwo {
  width: 30%;
  display: flex;
  justify-content: flex-end;
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url(../images/about2.jpeg);
}
.aboutPage .aboutText .aboutBox .boxText {
  width: 55%;
  font-size: 20px;
  margin-left: 25px;
  margin-top: 80px;
}
.aboutPage .aboutText .aboutBox .two {
  width: 70%;
  text-align: right;
  margin-right: 25px;
}

footer {
  height: 75px;
  background-color: #6f4e37;
  color: white;
  margin-top: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  letter-spacing: 3px;
}

/*# sourceMappingURL=styles.css.map */
