.aboutPage {
  margin: 0 auto;
  width: 90%;
  min-height: 500px;
  .hero {
    width: 100%;
    height: 350px;
    color: white;
    font-size: 50px;
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.4)),
      url(../images/aboutHero.jpg);
    background-position: center;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .aboutText {
    h1 {
      text-align: center;
      margin-top: 50px;
      font-size: 45px;
      color: #6f4e37;
    }
    .aboutBox {
      margin: 0 auto;
      width: 90%;
      height: 300px;
      margin-top: 25px;
      display: flex;
      .boxPic {
        width: 30%;
        height: 100%;
        background-image: linear-gradient(
            rgba(0, 0, 0, 0.3),
            rgba(0, 0, 0, 0.3)
          ),
          url(../images/about.jpeg);
        background-position: center;
        background-size: cover;
      }
      .picTwo {
        width: 30%;
        display: flex;
        justify-content: flex-end;
        background-image: linear-gradient(
            rgba(0, 0, 0, 0.3),
            rgba(0, 0, 0, 0.3)
          ),
          url(../images/about2.jpeg);
      }
      .boxText {
        width: 55%;
        font-size: 18px;
        margin-left: 25px;
        margin-top: 100px;
      }
      .two {
        width: 70%;
        text-align: right;
        margin-right: 25px;
      }
    }
  }
}

@media (max-width: 850px) {
  .aboutPage {
    .aboutText {
      .aboutBox {
        .boxText {
          font-size: 17px;
        }
        .two {
          font-size: 15px;
        }
      }
    }
  }
}
